body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* Cor de fundo neutra */
}

header {
    background-color: #0033A0; /* Azul do Grêmio */
    color: #FFFFFF; /* Branco para o texto */
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #FFFFFF;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    background-color: #FFFFFF; /* Branco para seções */
    border-radius: 8px;
}

footer {
    background-color: #0033A0; /* Azul do Grêmio */
    color: #FFFFFF; /* Branco para o texto */
    text-align: center;
    padding: 10px 0;
}

article {
    margin-bottom: 20px;
}

article h3 {
    color: #0033A0; /* Azul do Grêmio */
}

article a {
    color: #0033A0; /* Azul do Grêmio */
    text-decoration: none;
}

article a:hover {
    text-decoration: underline;
}

